body.soal2{
	margin: 0px;
	background-color: #eeeeee;
}	
ul{
	display: inline-flex;
	padding-left: 0px;
}
li{
	padding-left: 3px;
	list-style: none;
}
.container{
	margin: auto;
	width: 1000px;
}
.logo{
	width: 258.663px;
	height: 183px;
}
.article h1{
	margin-top: 0px;
}
.article{
	border: 2px solid red;
	padding: 20px;
}
.galery-img{
	position: relative;
	width: 180px;
	height: 140px;
	text-align: center;
}
.header{
	background-image: url("../img/background.gif");
	overflow: hidden;
}
.sep{
	height: 30px;
	background-color: red;
	margin: 0px;
	margin-bottom: 20px;
}
.brand{
	float: left;
	height: 104px;
}
.navbar{
	float: right;
	color: white;
}